catkin_ws/build
catkin_ws/devel
catkin_ws/.catkin_workspace
catkin_ws/src/CMakeLists.txt
catkin_ws/src/sensor_pi/script/__pycache__
catkin_ws/src/sensor_pi/config/test_sensor.json
*pyc
homedir/*
!homedir/.bashrc
userdir/*
!userdir/.gitkeep
!userdir/dynamixel_config.yaml
!userdir/controller_config.yaml
!userdir/robot_sensor.json
!userdir/run_robot.launch
