<launch>
    <!-- args -->
    <arg name="dynamixel_settings"      default="/userdir/dynamixel_config.yaml"/> 
    <arg name="use_cmd_vel"             default="true" />
    <arg name="controller_settings"     default="/userdir/controller_config.yaml" />
    <arg name="joint_trajectory_name"   default="~trajectory_controller/command" />

    <arg name="usb_port"                default="/dev/ttyUSB0"/>
    <arg name="dxl_baud_rate"           default="1000000"/>
    <arg name="namespace"               default="fullset_robot"/>

    <arg name="sensor_config_path"      default="/userdir/robot_sensor.json" />

    <!-- include launch files -->
    <include file="$(find dynamixel_irsl_test)/launch/controllers.launch">
        <arg name="usb_port"                value="$(arg usb_port)"/>
        <arg name="dxl_baud_rate"           value="$(arg dxl_baud_rate)"/>
        <arg name="namespace"               value="$(arg namespace)"/>
        <arg name="dynamixel_settings" value="$(arg dynamixel_settings)"/>
        <arg name="use_cmd_vel"        value="$(arg use_cmd_vel)"/>
        <arg name="controller_settings" value="$(arg controller_settings)"/>
        <arg name="joint_trajectory_name"   value="$(arg joint_trajectory_name)"/>
    </include>
    <group ns="$(arg namespace)" >
        <include file="$(find sensor_pi)/launch/sensor_pi.launch" >
            <arg name="config_path" value="$(arg sensor_config_path)" />
        </include>
    </group>
</launch>