<launch>
    <arg name="use_gyro" default="false"/>
    <arg name="sensor_name" default="devicefile:/dev/ttyUSB0" />
    <group if="$(arg use_gyro)">
        <include file="$(find gyro_correction)/launch/gyro_correction.launch"/>
        <param name="sensor_name" value="$(arg sensor_name)" />
    </group>
    
    <node name="joy_node" pkg="joy" type="joy_node" />
    <node name="joy_to_twist" pkg="joy_twist" type="joy_to_twist.py"/>
</launch>