<launch>
    <arg name="sensor_name" default="devicefile:/dev/ttyUSB0" />
    <node name="openzen_sensor_node" pkg="openzen_sensor" type="openzen_sensor_node">
        <param name="_sensor_name" value="$(arg sensor_name)" />
    </node>
    <node name="gyro_correction" pkg="gyro_correction" type="gyro_correction.py" output="screen"/>
</launch>